
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.title</title>
</head>
<body>
    <ul>
        <li>
            <a href="/home">home</a>
        </li>
        <li>
            <a href="/about">about</a>
        </li>
    </ul>
    <ul>
        <li><a href="Home/HTML" target="_blank">HTML練習</a></li>
        <li><a href="Home/CSS" target="_blank">CSS練習</a></li>
    </ul>
    <h1>歡迎光臨徐嘉瑋 .netCore6 首頁</h1>
    <h3>瀏覽時間：@ViewBag.DataTime</h3>
    <p>
        <img src="~/images/好吃拉麵.jpg" style="width:300px;" />
    </p>
</body>
</html>
