@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HTML</title>
</head>
<body bgcolor="#RRGGBB">
    <h1>五 言 絕 句</h1>
    <h2 > <font  color="red" >贈 孟 浩 然-李白 </font> </h2>
    <pre>
      吾 愛 孟 夫 子 ，	　風 流 天 下 聞 。
      紅 顏 棄 軒 冕 ，	　白 首 臥 松 雲 。
      醉 月 頻 中 聖 ，	　迷 花 不 事 君 。
      高 山 安 可 仰 ，	　徒 此 挹 清 芬 。
    </Pre>
    <h2> <font color="red" >竹 里 館 - 王 維</font> </h2>
    <pre>
      獨 坐 幽 篁 裡 ，	　彈 琴 復 長 嘯 。
      深 林 人 不 知 ，	　明 月 來 相 照 。
    </Pre>
    七 言 絕 句
    下 江 陵 - 李白 
    <pre>
      朝 辭 白 帝 彩 雲 間 ，	　千 里 江 陵 一 日 還 。
      兩 岸 猿 聲 啼 不 住 ，	　輕 舟 已 過 萬 重 山 。
    </Pre>
      夜 雨 寄 北 - 李 商 隱
    <pre> 
      君 問 歸 期 未 有 期 ，	　巴 山 夜 雨 漲 秋 池 。
      何 當 共 翦 西 窗 燭 ，	　卻 話 巴 山 夜 雨 時 。
    </Pre>
</body>
</html>
