@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    <ul>
        <li>
            <a href="/home">home</a>
        </li>
        <li>
            <a href="/about">about</a>
        </li>
    </ul>
    <p>目前時間: @ViewBag.DataTime</p>
    <p>
        <img src="~/images/屯京拉麵.jpg" style="width:300px;" />
    </p>
</body>
</html>
