@{
    ViewData["Title"] = "首頁";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/mycss.css" rel="stylesheet" />
    <title>@ViewBag.title</title>
</head>
<body>
    <h1>歡迎光臨徐嘉瑋 .netCore6 首頁</h1>
    <h3>瀏覽時間：@ViewBag.DataTime</h3>
    <p>
        <img src="~/images/好吃拉麵.jpg" style="width:240px;" />
    </p>
</body>
</html>
